<div class="header p-3 ">
    <div class="flex items-center add">
        <div class="logo rounded-full overflow-hidden">
            <img src="assets/logo/logo.jpg" alt="logo" class="h-12 w-12 object-cover">
        </div>
        <div class="ml-4">
            <p class="text-main  ">TULIP SKINCARE</p>
            <p class="text-slogan">Discover the Beauty Within</p>
        </div>
    </div>
</div>


<div class="etalket-header-nav">
    <app-top-bar></app-top-bar>
</div>

<div class="container-line2">
        <app-bottom-bar class="flex flex-row items-center justify-center md:justify-center lg:justify-start ">
        </app-bottom-bar>
</div>