
.add {
    display: flex !important;
    width: 100%;
    
    
}
.text  {
    align-self: center;
    font-family: cursive;
    color: white;
}


.logo img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}


.header {
    background-color: pink;
  
}