
.add {
    display: flex !important;
    width: 100%;
    
    
}
.text-main  {
    align-self: center;
    font-family: cursive;
    color:black;
    font-size: large;
}
.text-slogan  {
    align-self: center;
    font-family:serif;
    font-size: small;
    color: black;
}


.logo img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}


.header {
    background-color: pink;
  
}