<div class="header bg-gray-800 text-white p-4">
    <div class="flex items-center add">
        <div class="logo rounded-full overflow-hidden">
            <img src="assets/logo/logo.jpg" alt="logo" class="h-12 w-12 object-cover">
        </div>
        <div class="ml-4">
            <p class="text-lg font-bold">TULIP SKINCARE</p>
            <p class="text-sm text-gray-300">Discover the Beauty Within</p>
        </div>
    </div>
</div>


<div class="etalket-header-nav">
    <app-top-bar></app-top-bar>
</div>

<div class="container-line2">
    <div >
        <app-bottom-bar></app-bottom-bar>
    </div>

    <div class="etalket-search-bar">
        <app-search-bar></app-search-bar>
    </div>

</div>