.etalket-header-top-bar{
    margin-right: rem;
    margin-bottom: 0.5rem;
}
.etalket-header-top-bar a {
    color: #333;
    text-decoration: none;
    margin-right: 1rem;
}
.etalket-header-top-bar a:hover{
    color: #F29298;
    text-decoration: none;
}
