.etalket-header-top-bar {
    display: flex;
}

.etalket-header-top-bar a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}
.etalket-header-top-bar a:hover{
    color: #F29298;
    text-decoration: none;
}
