.etalket-header-top-bar{
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}
.etalket-header-top-bar a {
    color: #333;
    text-decoration: none;
    margin-right: 1rem;
    
}

.etalket-header-top-bar a:hover{
    color: #F29298;
    text-decoration: none;
}
