body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* background-color: #f0f0f0; */
}

.search-container {
    display: flex;
    align-items: center;
    /* flex: 1; Allow the container to grow and shrink */
}

.etalket-search {
    /* flex: 1; Allow the input to grow and shrink within the container */
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    overflow: hidden; /* Hide the overflow text */
}

.etalket-search-btn {
    background-color: #780606;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    padding: 8px;
}

.etalket-search-btn:hover{
    background-color: black;
}

.etalket-search:focus {
    border: 1px solid #780606;
    outline: none;
}

.searchfor {
    
    margin-top: 0px; /* Add margin to separate the search text from the search bar */
}

.cart {
    font-size: 24px;
    margin-left: 10px;
    color: #780606;
}

.cart:hover {
    color: black;
}

.searchfor {
    font-size: 15px;
    opacity: 50%;
} 

.blur-text {
    font-size: 14px; /* Adjust the size as needed */
    color: #555; /* Adjust the color as needed */
    opacity: 50%;
}
