<!-- search-bar.component.html -->
<div class="header flex flex-col p-4">
    <div class="search-container flex flex-row">
      <input [(ngModel)]="searchingtext" (input)="onInputChange()" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">   
      <button (click)="toggle()" class="etalket-search-btn">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <div class="cart">
        <!-- Use fa-shopping-cart instead of fa-cart-shopping -->
        <i class="fa fa-shopping-cart"></i>
      </div>
    </div>
    <p *ngIf="searchingtext !== ''" class="search-message">{{ getResultMessage() | slice:0:25 }}{{ searchingtext.length > 25 ? '...' : '' }}</p>
  </div>
  