.product-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  /* margin-right: 20px; Adjust margin as needed */
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card .product-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.product-card .card-content {
  padding: 0px;
}

.product-card h2,
.product-card p {
  margin: 0;
}

.product-card h2 {
  font-size: 20px;
  color: #333;
}

.product-card p {
  font-size: 16px;
  color: #666;
}

.product-card .price {
  font-size: 18px;
  font-weight: bold;
  color: #F29298;
}

.product-card .discount {
  text-decoration: line-through;
  color: #999;
}

.product-card .buy-now-button {
  /* display: block; */
  width: 100%;
  padding: 0px;
  margin-top: 0px;
  background-color: #F29298;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.product-card .buy-now-button:hover {
  background-color:  #F29298;
}
.quantity-controls {
  display: flex;
  align-items: center;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color:  #F29298;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
}


span {
  margin: 0 5px;
  font-weight: bold;
}

