<app-filter [total]="total" [instock]="instock" [outofstock]="outofstock" (selectedFilterRadioButtonChanged)="onFilterChanged($event)" class="absolute top-0 left-0 right-0 "></app-filter>

<ng-container *ngFor="let prod of products; let i = index">
  <div class="product-card product-card-1 relative" *ngIf="(selectedFilterRadioButton === 'all') ||
    (selectedFilterRadioButton === 'instock' && prod.instock > 0) ||
    (selectedFilterRadioButton === 'outofstock' && prod.instock === 0)">
    
    <!-- Your product card content here -->
    <div class="imgandtag relative">
      <img class="product-image" [src]="prod.Pimg" alt="Product Image">
      <p *ngIf="discountpercentage(prod, i) > 0" class="discount-tag absolute top-0 right-0 bg-red-500 text-white px-2 py-1 rounded">
        {{ discountpercentage(prod, i).toFixed() }}% Off
      </p>
      <p [ngStyle]="{ 'color': is_in_inventory(prod, i) ? 'white' : 'white', 'background-color': is_in_inventory(prod, i) ? 'green' : 'red' }" class="availability-tag absolute bottom-0 right-0 text-white px-2 py-1 rounded">
        {{ is_in_available(prod, i) }}
      </p>
    </div>

    <div class="card-content p-4 m-2">
      <h2 class="text-lg font-semibold text-gray-800 text-pink">{{ prod.Name }}</h2>
      <p class="text-gray-600">{{ prod.Color }}</p>
      <p class="text-lg font-bold text-pink-500">${{ prod.Price }}</p>
      <p class="line-through text-discount">$ {{ discountprice(prod, i) % 1 === 0 ? discountprice(prod, i) : discountprice(prod, i).toFixed(2) }}</p>
      <p [ngStyle]="{'color': is_in_inventory(prod, i) ? 'gray' : 'red'}">{{stockcheck(prod)}}</p>
      <div *ngIf="is_in_inventory(prod, i)" class="quantity-controls flex items-center">
        <button (click)="incrementQuantity(i)" class="bg-pink-500 text-white px-3 py-1 focus:outline-none hover:bg-pink-600 rounded-lg">
          +
        </button>
        <span class="font-bold mx-2">{{ quantity[i] }}</span>
        <button (click)="decrementQuantity(i)" class="bg-pink-500 text-white px-3 py-1 focus:outline-none hover:bg-pink-600 rounded-lg">
          -
        </button>
      </div>
    </div>
  </div>
</ng-container>
