<div class="product-container">
    <div class="product-card product-card-1">
      <img class="product-image" [src]="product_1.Pimg" alt="Product Image">
      <div class="card-content">
        <h2>{{ product_1.Name }}</h2>
        <p>{{ product_1.Color }}</p>
        <p class="price">${{ product_1.Price }}</p>
        <p class="discount">${{ discountprice(product_1).toFixed() }}</p>
        <p>Stock: {{ stockcheck(product_1) }}</p>
        <div class="quantity-controls">
          <button (click)="incrementQuantity()">+</button>
          <span>{{ quantity }}</span>
          <button (click)="decrementQuantity()">-</button>
        </div>
      </div>
    </div>
  </div>
  

  <!-- <div class="product-card product-card-2">
      <img class="product-image" [src]="product_2.Pimg" alt="Product Image">
      <div class="card-content">
          <h2>{{ product_2.Name }}</h2>
          <p>{{ product_2.Color }}</p>
          <p class="price">${{ product_2.Price }}</p>
          <p class="discount">${{ discountprice(product_2).toFixed() }}</p>
          <p>Stock: {{ stockcheck(product_2) }}</p>
          <button class="buy-now-button" [disabled]="(product_2.instock <= 0)">Buy Now</button>
      </div>
  </div> -->

